Architecting for Machine Learning: Forecasting Alternative Fuels
=======

Forecast project for AWS ML course.

## Preparing Virtual Environment

**Installing netcdf4 python library**: *The below code is confirmed to work on AWS SageMaker notebook with 'conda python 3' kernel*

In [1]:
#!conda install -c anaconda netcdf4 --yesx
from netCDF4 import Dataset

In [2]:
import pandas as pd
import json
import sagemaker
import boto3
import numpy as np

### Loading data to S3 Bucket

The data is hosted on the Kaggle website [here](https://www.kaggle.com/c/ams-2014-solar-energy-prediction-contest#description).

In [3]:
train_kgl = pd.read_csv('/home/ec2-user/SageMaker/aws_arch4ML/data/data/train.csv')

In [4]:
train_kgl.shape

(5113, 99)

In [5]:
train_kgl.head()

,Date,ACME,ADAX,ALTU,APAC,ARNE,BEAV,BESS,BIXB,BLAC,...,VINI,WASH,WATO,WAUR,WEAT,WEST,WILB,WIST,WOOD,WYNO
0,19940101,12384900,11930700,12116700,12301200,10706100,10116900,11487900,11182800,10848300,...,10771800,12116400,11308800,12361800,11331600,10644300,11715600,11241000,10490100,10545300
1,19940102,11908500,9778500,10862700,11666400,8062500,9262800,9235200,3963300,3318300,...,4314300,10733400,9154800,12041400,9168300,4082700,9228000,5829900,7412100,3345300
2,19940103,12470700,9771900,12627300,12782700,11618400,10789800,11895900,4512600,5266500,...,2976900,11775000,10700400,12687300,11324400,2746500,3686700,4488900,9712200,4442100
3,19940104,12725400,6466800,13065300,12817500,12134400,11816700,12186600,3212700,8270100,...,3476400,12159600,11907000,12953100,11903700,2741400,4905000,4089300,11401500,4365000
4,19940105,10894800,11545200,8060400,10379400,6918600,9936300,6411300,9566100,8009400,...,6393300,11419500,7334400,10178700,7471500,8235300,11159100,10651500,10006200,8568300

In [6]:
target = train_kgl['ACME']

### Loading netCDF4 data

In [ ]:
import netCDF4 as nc

### Data Transforms